<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="onShow()">Download Customers</button>
  </div>
  <div class="col">
      <button class="btn btn-normal float-right" (click)="onBuildIndex()">Build entire index</button>
  </div>
</div>
<div class="row">
  <table class="table table-responsive">
    <tr>
      <th>Code</th>
      <th>Company Name</th>
      <th>Address</th>
    </tr>
    <tr *ngFor="let c of customersService.data">
        <td>{{c.custSupp}}</td>
        <td>{{c.companyName}}</td>
        <td>{{c.address}}</td>
        <td> <button class="btn btn-normal" (click)="onAddIndex(c)"><i class="fa fa-hand-pointer-o"></i></button></td>
    </tr> 
  </table>
</div>
